*{
    background-color: #e5e5e5;
}

textarea{
    height: 400px;
    width: 800px;
    margin-top: 100px;
    margin-left: 95px;
    background-color: white;
    font-family: 'Inter', sans-serif;
    font-size: 32px;
    font-weight: 400;
    line-height: 48px;
    text-align: left;
    resize: none;
}

button{
    height: 60px;
    width: 320px;
    margin-top: 50px;
    margin-left: 110px;
    border-radius: 24px;
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 20px;
    text-align: center;
    background: #0A3871;
}

.button-copiar{
    margin-left: 380px;
}

footer{
    text-align: center;
    margin-top: 180px;
}